@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');


/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #fff8dc;
    color: #6b5650;
    font-family: "Poppins", sans-serif;
}



/* Navigation Bar */

.navbar {
    background-color: #ffdce6;
    padding: 18px;

    border-radius: 0 0 35px 35px;

    box-shadow: 0 5px 18px rgba(0,0,0,0.08);
}


.navbar ul {
    list-style: none;

    display: flex;

    justify-content: center;

    gap: 40px;
}


.navbar a {
    text-decoration: none;

    color: #795548;

    font-weight: 600;

    font-size: 16px;

    transition: 0.3s;
}


.navbar a:hover {
    color: #c9829b;
}



/* Banner */

.hero {

    height: 380px;

    background-color: #ffe8ef;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    border-radius: 0 0 50px 50px;

    margin-bottom: 50px;

}


.hero-text h1 {

    font-family: "Playfair Display", serif;

    font-size: 60px;

    color: #6d4c41;

    letter-spacing: 2px;

}


.hero-text p {

    margin-top: 15px;

    font-size: 20px;

    color: #8d6e63;

}



/* Sections */

.topic {

    padding: 40px;

}


.topic-title {

    text-align: center;

    margin-bottom: 35px;

}


.topic-title h1 {

    font-family: "Playfair Display", serif;

    color: #c9829b;

    font-size: 38px;

}



/* Cards */

.topic-content {

    display: flex;

    justify-content: center;

}


.topic-card {

    background-color: #ffffff;

    width: 80%;

    max-width: 750px;

    padding: 30px;


    border-radius: 35px;


    border: 3px solid #ffd6e3;


    box-shadow:
    0 10px 25px rgba(201,130,155,0.18);


    text-align: center;


    transition: 0.3s;

}



.topic-card:hover {

    transform: translateY(-6px);

    box-shadow:
    0 15px 30px rgba(201,130,155,0.25);

}



.topic-card img {

    width: 100%;

    border-radius: 25px;

    margin-bottom: 20px;

}



.topic-card-text {

    font-family: "Playfair Display", serif;

    color: #c9829b;

    font-size: 28px;

    margin-bottom: 15px;

}



.topic-card p {

    font-size: 16px;

    line-height: 1.7;

    color: #6b5650;

}



/* Video */

video {

    width: 100%;

    border-radius: 25px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.12);

}



/* Footer */

.footer {

    margin-top: 50px;

    background-color: #ffdce6;


    padding: 25px;


    text-align: center;


    border-radius: 35px 35px 0 0;


    color: #795548;


    font-weight: 500;

}