body,
html{
margin:0;
padding:0;
height:100%;
font-family:Arial, sans-serif;
box-sizing:border-box;
}

img{
width:100%;
}

.navbar ul{
list-style:none;
margin:0;
padding:0;
background-color:#ffb6d9;
display:flex;
flex-wrap:wrap;
}

.navbar a{
display:block;
padding:14px 20px;
text-decoration:none;
color:white;
font-weight:bold;
}

.navbar a:hover{
background-color:#ffd966;
color:black;
}

.hero{
background-color:#ffb6d9;
height:25vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero-text{
font-size:4em;
font-weight:bold;
}

.topic-title{
color:white;
font-size:2em;
padding:0.1em 3em;
background-color:#ffd966;
text-align:center;
}

.topic-content{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:6em;
width:70%;
margin:3em auto;
}

.topic-card{
background-color:#ffd966;
color:white;
padding:1em;
border-radius:0.5em;
box-shadow:10px 10px 10px rgba(0,0,0,0.2);
transition:transform 0.3s;
}

.topic-card:hover{
transform:scale(1.05);
}

.topic-card-text{
font-size:1.5em;
margin-bottom:0.5em;
text-align:center;
}

.footer{
background-color:#ffb6d9;
color:white;
text-align:right;
padding:3em;
}